//
// Layout settings
// ==========================================================================

// Breakpoints 
$desktop-md: 1024px;
$mobile-sm:  480px;
$mobile-lg: 768px;

// z-index 
$z-index-0: 0;
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-10: 10;
$z-index-15: 15;
