//
// Typography
// ==========================================================================

$primary-font: Arial, sans-serif;
$secondary-font: 'Times New Roman', serif;

$base-font-size: 16px;
$base-line-height:  24px;

$primary-font-color: $primary-color;
$secondary-font-color: $accent-color;

// Tool to get web saving fonts
// http://www.cssfontstack.com/
// https://websitesetup.org/web-safe-fonts-html-css/

// Pixel to em/rem calculators
// http://pxtoem.com/
// https://offroadcode.com/rem-calculator/

